<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Base</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
         {% block alink %}
         {% endblock alink %}
        </ul>
      </nav>
    </header>
    {% block main %}
    {% endblock main %}
  </body>
</html>
